.git
.vscode
references/
*-draft.md
input_data/*.vrt
input_data/DEM/
input_data/AK_*/
input_data/NHN_INDEX*/
input_data/DAYMET/
input_data/region_polygons/
input_data/region_bounds/
input_data/BasinATLAS/
input_data/adjusted_region_polygons/
input_data/NHN_data/*
input_data/HYSETS_data/*
input_data/NALCMS/*
input_data/GLHYMPS/*
input_data/*.geojson

optimization/
validation/tmp/
validation/data/
validation/ss/
processed_dem/

processed_data/basin_attributes/
processed_data/DAYMET/
processed_data/BCUB_files/
processed_data/basin_properties/
processed_data/pour_points/*
processed_data/derived_basins/
processed_data/processed_dem/
processed_data/*.vrt
processed_data/*.py
processed_data/*.geojson
results/
superseded/
*.qgz
upload_dataverse_files.py

__pycache__/
.ipynb_checkpoints/
